#submitdiv_boxes .inside {
    padding: 0;
    margin: 0;
}

#view_shortcode .wrap .shortcode input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background-color: #ececec;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #ababab;
}

#view_shortcode .wrap .shortcode input:focus,
#view_shortcode .wrap .shortcode input:active {
    outline: none;
    box-shadow: none;
}

#main_boxes .wrap .wrap-block {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#main_boxes .wrap .wrap-block:last-child {
    border: none;
    padding-bottom: 0;
}

#main_boxes .wrap .wrap-block:last-child {
    margin: 0;
}

#main_boxes .wrap .title {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
}

#main_boxes .wrap input[type="text"] {
    width: 100%;
    padding: 5px;
}

#main_boxes .wrap textarea {
    width: 100%;
    padding: 5px;
}

#main_boxes .wrap .radio-block {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    margin-bottom: 10px;
    flex-flow: row wrap;
    width: 75%;
}

#main_boxes .wrap .wrap-radio {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#main_boxes .wrap .radio-block .radio-value {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

#main_boxes .wrap .radio-block .radio-value input {
    height: 21px;
    margin-left: 5px;
    width: 20%;
}

#main_boxes .wrap input[type="radio"] {
    line-height: 1;
    margin: 0 10px 0 0;
}

#main_boxes .wrap .wrap-color {
    width: 100%;
    margin-bottom: 10px;
}

#main_boxes .wrap .wrap-color:last-child {
    margin-bottom: 0;
}

#main_boxes .wrap .wrap-color .wp-picker-container {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    align-items: center;
}

#main_boxes .wrap .wrap-color .wp-picker-container .button {
    width: calc(100% / 7);
}

#main_boxes .wrap .wrap-color .wp-picker-container span.wp-picker-input-wrap {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    align-items: center;
    width: calc(100% / 4 * 3);
}

#main_boxes .wrap .wrap-color .wp-picker-container span.wp-picker-input-wrap label {
    width: 10%;
    display: block;
    margin-left: 5px;
}

#main_boxes .wrap .wrap-color .wp-picker-container span.wp-picker-input-wrap .button {
    margin-left: 5px;
    width: 100px;
}

#main_boxes .wrap .wrap-color .wp-picker-container .wp-picker-holder {
    display: block;
    width: 100%;
}

#main_boxes .wrap .wrap-color .wp-picker-container .wp-picker-holder .iris-picker {
    margin-top: 5px;
}

.wrap-block {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    flex-flow: row wrap;
}

.wrap-block span.description {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
}

.wrap-block .settings-block {
    width: calc(100% / 3 * 2);
}

.wrap-block .author-block {
    width: calc((100% / 3) - 32px);
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #8d8d8d;
}